body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.background {
    background-image: url('https://images.ctfassets.net/0eybfmw2qkbf/5ZoE7UwhjLqTNbNzDnYbwd/913cff44b5b43400e203159e18003677/Focused-man-working-on-laptop.jpg');
    background-size: cover;
    background-position: center;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
}

.logo img {
    padding-left: 12%;
    height: 50px;
}

.brand-name h4 {
    margin: 0;
    padding-left: 0%;
    display: inline-block;
    vertical-align: middle;
}

body, ul {
    margin: 0;
    padding: 0;
  }
  
 
.main-nav ul{
    list-style: none;
    margin-right: 120px;
    padding: 10px 0;
    display: flex;
    align-items: center;
}

.main-nav li {
    margin: 0 10px;
}

.main-nav a {
    text-decoration: none;
    color: rgb(74, 71, 71);
    font-weight: bold;
    display: inline;
  /*margin: 0px 15px;*/
  margin-right: 10px;
}

article{
    margin-top: 15%;
    max-width: 600px;
}
article h1{
    margin-left: 18px;
    font-size: 60px;
    color: rgb(45, 45, 54);
}
article h3{
    margin-left: 18px;
    font-size: 20px;
    color: rgb(184, 55, 158);
}
.slide-pics {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.slide-pics img {
    margin: 0 10px;
    width: 200px;
    height: 150px;
}

/*.auth-buttons {
    text-align: center;
    margin-top: 20px;
}

.auth-buttons button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}*/

.sign-up {
    text-decoration: none;
    color: rgb(105, 105, 190);
    margin-right: 90px;
    font-weight: 400;
    position: absolute;
    top: 35px;
    right: 10px;
    }
.sign-in {
    display: block;
    text-decoration: none;
    position: absolute;
    top: 28px;
    right: 5px;
    padding: 10px 20px;
    color: #fff;
    background-image: linear-gradient(45deg, #df4881, #c430d7);
    font-size: 14px;
    border-radius: 30px;
    border-top-right-radius: 0;
}

.sign-in2 {
    display: block;
    text-decoration: none;
    position: absolute;
    bottom: 2pix;
    left: 5px;
    padding: 10px 20px;
    color: #fff;
    background-image: linear-gradient(45deg, #df4881, #c430d7);
    font-size: 14px;
    border-radius: 30px;
    border-top-right-radius: 0;
}